<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<link rel="stylesheet" type="text/css" href="/static/site.css">
<title>Text Analyzer</title>
</head>

<body>

<h1>Text Analyzer</h1>

<p>
Enter the URL of the document you'd like to analyze:
</p>

<form method="GET" action="r">
<p>
<input class="inputfield" type="text" name="url" value="http://en.wikipedia.org/wiki/Mortgage-backed_security">
<input class="button" type="submit" value="Analyze">
</p>
</form>

</body>
</html>
